
<ion-modal-view>

  <div class="fundo hide">
    <div class="icone">
      <i class="fa fa-spinner fa-spin" style="font-size:40px"></i><br/>
      <p>
        Aguarde...
      </p>
    </div>
  </div>

  <ion-content>
    <div class="background-menu" style="height:100px; background:#009688;" >
      <i class="fa fa-times" style="font-size:22px; margin:5px; color:#fff; float:right;" ng-click="fechaModalSobre()"></i>

      <ul style="padding:15px;">
        <li style="float:left;">
          <img src="images/icon.png" class="img-circle" style="height:70px; width:70px;">
        </li>
        <li style="float:left; margin-left:10px; margin-top:10px;">
          <h1 style="font-weight:bold; color:#fff; font-size:22px">EAVY SAÚDE</h1>
          <p>Ajudando você!</p>
        </li>
        <div class="clearfix">	</div>
      </ul>
      <div class="clearfix">	</div>

    </div>
    <h4 style="padding:0 20px;">Sobre o Aplicativo</h4>
    <hr />

    <p style="padding:20px; text-align:justify">
      A aplicação eavy trás consigo toda informação que um aplicativo de localização e atendimento específico pode fornecer, auxiliando na customização de todo tempo que é investido para se achar o atendimento necessário. Através do seu smartphone, encontrando sempre a maneira mais viável de amenizar quaisquer perdas de tempo desnecessárias, fornecendo sempre as melhores decisões a serem tomadas até seu destino.
    </p>
    <hr />
    <p style="padding:20px;">

      - Filtre unidades de pronto atendimentos locais<br />
      - Saiba onde se encontram os devidos especialista da região<br />
      - Obtenha informações sobre cada unidade de atendimento<br />
      - Crie e tenha sempre em mãos sua própria ficha médica virtual<br />
      - Ligação rápida e fácil com o Serviço de Atendimento Móvel de Urgência (SAMU)<br />
    </p>


  </ion-content>
</ion-modal-view>
